{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Agendamento Labs - CBV Jaqueira{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>

    
</head>
<body>

<!-- Barra de Navegação -->
<nav class="navbar navbar-expand-lg navbar-light " >


  
</nav>

<!-- Conteúdo Principal -->
<main role="main" class="container">
    {% block content %}


    {% endblock %}
</main>



<style>
    body{
        background-color: 'green';
    }
    .footer{
        bottom: 0;
        position: fixed;
        width: 100%;
        text-align: center;
       
        padding-bottom: 15px;
    }

</style>


</body>
</html>